
  
  .fonta {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: inline;
    text-decoration: none;
    color: black;
    
  }
  .font1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .fontb h3{
   font-family: "Ubuntu", sans-serif;
   font-weight: 500;
   font-style: normal;
  }
  .fontd{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 300px;
    font-size: 50px;
    margin-top: -10px;
    border-bottom: 2px solid gray;
    margin-right: 160px;
   }

  .FONTC{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
  }
  .header {
    background-color: rgb(231, 222, 222);
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: fixed;
    margin-left: -10px;
    margin-top: -10px;
    width: 100%;
  }
  .header2 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: fixed;
    margin-left:300px;
    margin-top: -10px;
    width: 100%;
  }
  li{
    display: inline;
    text-decoration: none;
  }
  a{
    text-decoration: none;
    color: black;
    margin: 0px 15px;
    display: inline;

  }
  .li{
    margin-left: 650px;
  }

  .flex{
    display: flex;
    flex-direction:row;
  }
  .img1{
    width: 450px;
    margin-top: 150px;
    margin-left: 300px;
  }

  .img2{
    width: 350px;
    
  }
  .img3{
    width: 350px;
  }
  .imgl2{
    width: 350px;
    margin-top: 115px;
    
  }
  .imgl3{
    width: 350px;
    margin-top: 150px;
    
  }
  .img21{
    margin-left: 300px;
    margin-top:-34px;
    width: 550px  ;
  }
  .p1{
    width: 450px;
    margin-left: 300px;
  }
  .p3{
    width: 350px;
  }
  .icon{
    border-radius: 50%;
    width: 60px;
    height:60px;
    margin-left: 300px;}

  .table div{
    border: 1px solid black;
    margin-left: 30px;
    display: flex;
    flex-direction: column; 
  }
  .fontp{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    width: 200px;
    text-align: left;
    padding-left: 10px;
  }
  .subfont{
    font-family: "Roboto", sans-serif;
    font-weight: 425;
    font-style: normal;
    font-size: 17px;
    padding-left: 10px;
  }
  .culture{
    margin-left: 1550px;
    margin-top:0px;
    color: black;
    text-decoration: underline;
  } 
  .culturep{
    font-family: "Roboto", sans-serif;
    font-weight: 425;
    font-style: normal;
    font-size: 17px;
    width: 350px;
    margin-left: 850px;
    margin-top: -365px;
    padding-left: 20px;
  }
  .icon2{
    border-radius: 50%;
    width: 60px;
    height:60px;
  }
  .dogsmall{
    width: 190px;
    height: 130px;
    margin-top: 100px;
    margin-left: -692px;
    padding-top: 20px;
  }
  .dogp{
    margin-left: -692px;
    width: 200px;
    border-bottom: 2px solid gray;
   
  }
  .img5{
    width: 650px;
    margin-top: 100px;
    margin-left: -460px;
    padding-top: 20px;
  }
  .super{
    display: flex;
  }
  .p123{
    width: 130%;
    margin-left: -450px;
    padding-top: 60px;
    padding-left: 23%;
  }
  .p1234{
    width: 300px;
    margin-left: -691px;
  }
  .p321{
    width: 700px;
    margin-top: -280px;
    margin-left: -150px;
    
  }
  .p12{
    padding-bottom: 20px;
  }
.p213{
  margin-left: 300px;
  width: 300px;
}
.img6{
  width: 650px;
  height: 4%;
  margin-left:630px;
  margin-top: -869px;
}
.p124{
  margin-top: -880px;
  width: 400px;
  margin-left: 10px;
}
.icon3{
  border-radius: 50%;
  width: 60px;
  height:60px;
  margin-left: 20px;
  margin-top: 25px;
}
.pername{
  margin-top: 45px;
  padding-left: 15px;
}
.img7{
  width: 325px;
  height: 215px;
  margin-top: -430px;
  margin-left: -1060px;
}
.p10{
  width: 300px;
  height: 240px;
  margin-left: -325px;
  margin-top: -230px;
}
.img8{
  width: 700px;
  margin-left: 50px;
  margin-top: -550px;
}
.p9{
  width: 721px;
  margin-left: 51px;
}
.img9{
  width: 350px;
  margin-left: -1390px;
  margin-top: 90px;
}
.p11{
  width: 330px;
  margin-left: -1390px;
}
.icon4{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: -1390px;
}
.p111{
  width: 330px;
  margin-left: -1390px;
  margin-top: 40px;
}
.img10{
  width: 350px;
  margin-left: -1020px;
  margin-top: 90px;
}

.img11{
  width: 350px;
  margin-left: -1020px;
}
.p12{
  margin-left: -1020px;
  width: 300px;
  margin-top: -20px;
  padding-top: -20px;
}
.img14{
  width: 350px;
  margin-top: 90px;
  margin-left: -650px;
}
.img15{
  width: 350px;
  height: 221px;
  margin-top: 409px;
  margin-left: -650px;
}
.img16{
  width: 350px;
  height: 221px;
  margin-top: 750px;
  margin-left: -650px;
}

.p13{
  width: 350px;
  margin-left: -649px;
  margin-top: -20px;
}
.p14{
  width: 350px;
  margin-left: -650px;
  margin-top: -20px;
}
.lasttab{
  width: 400px;
  margin-top: -1040px;
  margin-left: 1440px;
  font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
   
}