<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="add_std" method="post">
        {% csrf_token %}
        <input type="number" name="roll_no" placeholder="roll_no">
        <input type="text" name="name" id="" placeholder="name">
        <input type="number" name="age" id="" placeholder="age">
        <input type="submit" value="add">
    </form>

    <table>
        <tr>
            <th>Roll_no</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for i in std %}
        <tr>
            <td>{{i.roll_no}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>
                <a href="edit/{{i.roll_no}}">Edit</a>
                <a href="delete/{{i.roll_no}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>




</body>
</html>