.banner{
    width: 100%;
    position: relative;
}

.logo{
    position: absolute;
    top: 3%;
    left: 6.5%;
    width: 10%;

}

.bar{
    width: 25%;
    margin: auto;
    position: absolute;
    top: 3%;
    left: 25%;
}

.srch{
    width: 600px;
    height: 60px;
    position: relative;
   
    left: 10%;
   
}

.loc{
    position: absolute;
    top: 26%;
    left: 195%;
    
}

.pen{
    position: absolute;
    top: 26%;
    left: 110%;
}

.user{
    position: absolute;
    bottom: 9%;
    left: 160%;
}

.cart{
    position: absolute;
    bottom: 8%;
    left: 237%;
}

.sicon{
    position: absolute;
    left: 93%;
    top: 35%;
}

.c2{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    

}
.cimg{
    width: 80%;
    height: 95%;
}

.flx{
    display: flex;
}

.flximg{
    height: 15vh;
    width: 30vw;
    justify-content: space-around;
}
