.back{
    background-color: rgb(255, 232, 223) ;
}

.logo{
    background-color: black;
    padding-left: 200px;
    height: 150px;
    padding-top: 30px;
}

.carpadd{
    margin-left: 200px;
}

.shop{
    margin-top: -100px;
    margin-left: 750px;
    color: white;
    font-size: larger;

}

.flex{
    display:flex;
    color:  rgb(221, 210, 210);
    padding-left: 900px;   
    margin-top: -35px;
    font-size:larger;
}

.mainpic{
    position: relative;
    width:2000px;
    height: 750px;
    margin-top: 63px;
    
}

.write{
    position: absolute;
    top: 40%;
    left: 25%;
    color: white;
}

.wfont{
    font-size: 80px;
    font-weight: 10px;
}

.sub{
    display: flex;
    flex-direction: column;
    
}

.aa{
    padding-left: 50px;
}

.search{
    width: 250px;
    height: 50px;
    margin-left: 1300px;
    margin-top: -55px;
    color: white;
    background-color: black;
}

.fb{
   margin-left: 1600px;
   margin-top: -39px;
}

.in{
    margin-left: 1670px;
    margin-top: -28px;
}

.heart{
    margin-left: 1730px;
    margin-top: -29px;
}


.cart{
    margin-left: 1795px;
    margin-top: -35px;
}

.button{
    width: 230px;
    height: 60px;
    border-radius:2px;
    border-width: 2px;
    border-color: gray;
}

.button2{
    width: 270px;
    height: 60px;
    margin-top: 15px;
    border-radius:2px;
    border-width: 2px;
    border-color: gray;
}

.a{
    display:flex;
    margin-left: 200px;
    
}

.block{
    border-radius: 50%;
    width: 230px;
    margin-top: 100px;
    

}

